# environment files typically containing secrets
*.env
local.env
!example.env

# directories created by developer tools
.idea/

# dependency directories
node_modules/
vendor/
.terraform/

# python bytecode caches
__pycache__/
*.pyc
