# environment files typically containing secrets
*.env
local.env
!example.env

# directories created by developer tools
.idea/

# dependency directories
node_modules/
vendor/
.terraform/
lambda/disaster_recovery/__pycache__/*
